.app {
  display: flex;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  .layout-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .page-wrapper {
      display: flex;
      flex-direction: row;
      padding: 60px 50px;
    }
  }
}
